{% extends "common/layout-base-project.twig" %}
{% set
  page = {
    title : "Page non trouvée"
  },
  %}

{% block content %}

  <article class="article">
    <h1>{{ page.title }}</h1>
    <p>La page que vous recherchez n'existe pas. <a href="{{ baseURL }}">Revenir à l'accueil</a>.</p>
  </article>

{% endblock %}
